@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../slick/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../slick/fonts/slick.eot');
    src: url('../slick/fonts/slick.eot') format('embedded-opentype'), url('../slick/fonts/slick.woff') format('woff'), url('../slick/fonts/slick.ttf') format('truetype'), url('../slick/fonts/slick.svg#slick') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src:
    url('../libs/font-icomoon/icomoon.ttf') format('truetype'),
    url('../libs/font-icomoon/icomoon.woff') format('woff'),
    url('../libs/font-icomoon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Arrows */
.slick-prev
{

    height: 100%;
    width: 90px;
    font-size: 0;

    position: absolute;
    top: 50%;
    display: block;

   
    -webkit-transform: translate(0, -50%) rotate(180deg);
    -ms-transform: translate(0, -50%) rotate(180deg);
    transform: translate(0, -50%) rotate(180deg);
    

    cursor: pointer;

    color: transparent;
    border:none;
    outline: none;
    background: none;
    z-index: 3;
    opacity: 1;

    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 25px 50%;
    -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.slick-prev:hover
{

    background-color: rgba(0, 0, 0, 0.3);

}


.slick-next {
    height: 100%;
    width: 90px;
    font-size: 0;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0px, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: none;
    z-index: 3;
    opacity: 1;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 25px 50%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}



/* Dots */
.slick-dotted.slick-slider
{
    /*margin-bottom: 30px;*/

}

.slick-dots
{

    max-width: 1175px;
    padding:0 0 30px 0;
    margin: -75px auto 0 auto;

    list-style: none;

    text-align: right;
    transform: translateX(-1px);
}

@media (max-width: 1205px) {
    .slick-dots {
        padding-right: 15px;
    }
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 10px;
    height: 0;
    margin: 0 0 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}


.slick-dots li button:before {
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: -9px;
    height: 20px;
    content: '__';
    text-align: center;
    color: #777777;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #fff;
}


@media (max-width: 1024px){


.slick-prev,
.slick-next
{
  /*  width: 50px;
    height: 50px;
    }*/


.slick-prev:before,
.slick-next:before
{
    font-size: 20px;
}
}


@media (max-width: 768px){


.slick-prev,
.slick-next
{
   /* width: 35px;
    height: 35px;
    }*/


.slick-prev:before,
.slick-next:before
{
    font-size: 18px;
}

.slick-prev
{
    left: 20px;

}

.slick-next
{
    right: 20px;

}
}



@media (max-width: 425px){


.slick-next {
    width: 60px;
     background-image: url(../images/arrow-slide-mobile.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.slick-prev {
    width: 60px;
     background-image: url(../images/arrow-slide-mobile.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 10px;
}

.slick-prev:before,
.slick-next:before{
    line-height: 0.1;
}
}












